* {
    margin: 0;
    padding: 0;
}

:root {
	--primary-color: #4353df;
	--background-color: #afbed6;
	--dark-color: #151515;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    width: 8em;
}

#container,
.form-item,
#parr {
    display: flex;
    justify-content: center;

}

.form-item {
    margin-bottom: 12px;
}

.datos-personales,
#genero {
    display: block;
    font-family: 'Poppins';
    font-size: 1.5em;
}

#genero {
    display:flex;
}

.personales {
    padding: 2px;
    margin: 3px;
    width: 350px;
    height: 25px;
    border-radius: 8px;
}

input{
    padding: 10px;
}

fieldset {
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

#genero p {
    padding: 14px;
}

#comentarios{
    display:flex;
    flex-direction: column;
    margin-bottom: 3px;

}

#comentario{
    padding: 5px;
}

.titulo{
    font-size: 1.5em;
}
