<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../statics/css/index.css">
  <link rel="stylesheet" href="../statics/css/header_footer.css">
  <title>Accesorios</title>
</head>

<body>
  <header></header>

  <main>

    <section class="contenedor-destacados">
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/174103-removebg-preview-228x228.jpg" alt="CUELLO AMAYRA">
        <h3 class="producto">CUELLO AMAYRA</h3>
        <p class="descripcion"> Material: Lana. Interior piel. Medidas: 38x34cm.
          Colores: GRIS ROSA BLANCO</p>
        <h5 class="precio">$ 15.999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/bandolera-head.jpg" alt="BANDOLERA HEAD">
        <h3 class="producto">BANDOLERA HEAD</h3>
        <p class="descripcion"> Material: microfibra. Bolsillo frontal. Medidas: 16x16x5cm. Color: NEGRO AZUL</p>
        <h5 class="precio">$ 36,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/billetera-tarjetero.jpg" alt="BILLETERA BOSSI">
        <h3 class="producto">BILLETERA BOSSI</h3>
        <p class="descripcion">Material: ecocuero, incluye packaging. Medidas: 11x9x3cm.
          Colores: MARRON SUELA </p>
        <h5 class="precio">$ 13,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/boina-hombre.jpeg" alt="BOINA">
        <h3 class="producto">BOINA HOMBRE </h3>
        <p class="descripcion"> Material: paño. Medidas: 28x20cm.
          Colores: MARRON GRIS NEGRO</p>
        <h5 class="precio">$ 10,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/boina-trendy.jpg" alt="BOINA TRENDY">
        <h3 class="producto"> BOINA TRENDY </h3>
        <p class="descripcion">Material: Acrílico, con ajuste de contorno. Medidas: 56-58cm. Talle único.
          Colores: NEGRO GRIS BEIGE </p>
        <h5 class="precio">$ 14,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/bufanda-dama.jpg" alt="BUFANDA DAMA TEJIDO ABIERTO">
        <h3 class="producto">BUFANDA DAMA TEJIDO ABIERTO </h3>
        <p class="descripcion">Material: acrílico. Medidas: 25 x 160cm.
          COLOR: GRIS NEGRO FUCSIA PETROLEO CORAL </p>
        <h5 class="precio">$ 15,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/bufanda-hombre.jpeg" alt="BUFANDA HOMBRE CLASICA">
        <h3 class="producto">BUFANDA HOMBRE CLASICA</h3>
        <p class="descripcion">Material: sintético. Diseño escoces. Medidas: 34x90cm.
          COLOR: GRIS AZUL </p>
        <h5 class="precio">$ 13,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Acc/cartera.jpg" alt="CARTERA DE FIESTA">
        <h3 class="producto">CARTERA DE FIESTA</h3>
        <p class="descripcion">Material: ecocuero sintético. Medidas: 12X20cm.
          Color: NEGRO GRIS </p>
        <h5 class="precio">$ 32,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
    </section>
  </main>


  <footer></footer>
  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="../statics/script/header-footer.js"></script>
</body>

</html>