<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../statics/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../statics/css/header_footer.css">
  <link rel="stylesheet" href="../statics/css/index.css">
  <title>Fitness</title>
</head>

<body>

  <header></header>

  <main>
    <section class="contenedor-hogar" id="contenedorProductos">
      <!-- COMPLETADO CON JS -->
    </section>

  </main>

  <footer></footer>
  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="../statics/script/header-footer.js"></script>
  <script src="../statics/script/fitness.js"></script>i
</body>

</html>