<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../statics/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../statics/css/header_footer.css">
  <link rel="stylesheet" href="../statics/css/index.css">
  <title>Fitness</title>
</head>

<body>

  <header></header>

  <main>
    <section class="contenedor-destacados">
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/-_NE-1014076-228x228.jpg" alt="riñonera">
        <h3 class="producto">RIÑONERA DEPORTIVA ALPINE SKATE</h3>
        <p class="descripcion">incluye porta botellas. Tela mesh acolchonada para mayor comodidad

          COLOR: azul y negro.
        </p>
        <h5 class="precio">$14,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/BRAZALETE-228x228.jpg" alt="brazalete">
        <h3 class="producto">BRAZALETE PARA CORRER UNIVERSAL</h3>
        <p class="descripcion">Porta celular hasta pantallas de 5.5''. Medida: 16.5x9 cm. Compartimiento de llave. Plástico transparente para uso táctil del celular. Ajustable con velcro. Impermeable a la lluvia. Resistente al sudor. </p>
        <h5 class="precio">$2,699.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/COLCHONETA-100x40x4cm.jpg" alt="colchoneta">
        <h3 class="producto">COLCHONETA 100X40X4 CM </h3>
        <p class="descripcion">Colores: Rojo - Negro - Azul- Fucsia 

          De alta densidad, 4 cm x 40 cm x 100 cm, recubiertas con tela %100 CORDURA, fácil de limpiar o lavar con cierre reforzado. </p>
        <h5 class="precio">$19,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
            <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/CONO_TORTUGA-10un.png" alt="cono-tortuga">
        <h3 class="producto">CONOS TORTUGA X 10 UNID</h3>
        <p class="descripcion"> Se puede utilizar para marcadores de línea lateral, límite, ensayos de agilidad, de velocidad, obstáculos, objetivos, patinaje en línea, skateboard, soccer, actividades al aire libre, tráfico, aparcamiento, etc.
</p>
        <h5 class="precio">$4,399.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/CONOS-removebg-preview-228x228.png" alt="conos">
        <h3 class="producto">CONOS X10 UNIDADES</h3>
        <p class="descripcion">Se puede utilizar para marcadores de línea lateral, límite, ensayos de agilidad, de velocidad, obstáculos, objetivos, patinaje en línea, skateboard, soccer, actividades al aire libre, tráfico, aparcamiento, etc.</p>
        <h5 class="precio">$7,399.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/D_NQ_NP_2X_806964-MLA31603675037_072019-F-228x228.jpg" alt="inflador">
        <h3 class="producto">INFLADOR DE ALUMINIO MULTIUSO</h3>
        <p class="descripcion">Inflador de aluminio, con mango rebatible tipo T y pie plegables 90 grados.
          INCLUYE: Pico auto, pico bici común, pico para inflables y pico aguja para pelotas, soporte con tornillos plásticos para bici y precintos. Medidas: 30 cm (desplegada: 50 cm) x 3 cm. Único con orín de goma de repuesto!</p>
        <h5 class="precio">$$6,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/Disco body pump 5kg vacio-228x228.jpeg" alt="disco">
        <h3 class="producto">DISCO BODY PUMP 5KG VACIO</h3>
        <p class="descripcion">Disco con peso grabado, piedra, arena y metal para llegar al peso indicado.
          Medidas: 5,5 cm de alto x 24 cm de diametro aprox.Línea plástico super resistente      
          para llenar </p>
        <h5 class="precio">$3,599.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Fitness/ESCALERA DE COORDINACION 5 ESCALONES_1-228x228.jpg" alt="guantes">
        <h3 class="producto">ESCALERA DE COORDINACIÓN 10 ESCALONES</h3>
        <p class="descripcion">Ideal para marcar el terreno y realizar trabajos coordinativos, Varilla flexible, ayuda a la coordinación y psicomotricidad.

          10 escalones, 5 mts de largo X 45,5 cm de ancho , regulable con flejes plasticos flexibles.
          
          Colores: AMARILLO</p>
        <h5 class="precio">$7,199.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
    </section>

  </main>

  <footer></footer>
  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="../statics/script/header-footer.js"></script>
</body>

</html>