<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../statics/css/header_footer.css" >
    <link rel="stylesheet" href="../statics/css/index.css">

    <title>Hogar</title>
</head>
<body>
   
    <header></header>
  
    <main>

 <section class="contenedor-destacados">
      <div class="destacados-items">
        <img  class="img-destacados"  src="../statics/img/Hogar/afilador.jpeg" alt="afilador">
        <h3 class="producto">AFILADOR DE CUCHILLOS</h3>
        <p  class="descripcion">Afilador de cuchillos 3 en 1 (Alisado, Pulido y Filo) con mango de cocina. 3 tipos de afilado - Preparación / Fino / Grueso.  Rápido y efectivo.</p>
        <h5 class="precio">$14,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados"  src="../statics/img/Hogar/alfombra.jpeg" alt="alfombra">
        <h3 class="producto">ALFOMBRA FELPUDO BIENVENIDA</h3>
        <p class="descripcion">Material PVC/Goma super resistente. Antideslizante. Bordes lisos.  Ideal para oficinas y hogares. </p>
        <h5 class="precio">$6999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img  class="img-destacados" src="../statics/img/Hogar/batidor.jpg" alt="batidor">
        <h3 class="producto">BATIDOR ESPUMADOR</h3>
        <p class="descripcion">Material: Plástico reforzado Para hacer el mejor capuchino, omelette, milk shake, etc; en tu casa en segundos, bate cualquier liquido en segundos.</p>
        <h5 class="precio">$2,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img  class="img-destacados" src="../statics/img/Hogar/bidon.jpg" alt="bidon">
        <h3 class="producto">BIDON TERMICO 2L CON PICO VERTEDOR </h3>
        <p class="descripcion">Único con tapa para grande para poner hielo y limpiar, Tus mejores vacaciones a la mano, Conserva el frio, Doble pared, Disponibles en color azul, rojo y negro. </p>
        <h5 class="precio">$4,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados"  src="../statics/img/Hogar/bombilla.jpg" alt="bombilla">
        <h3 class="producto">BOMBILLA INOXIDABLE RESORTE REGULABLE</h3>
        <p class="descripcion">Bombilla inoxidable, no se tapa, no se oxida, fácil de limpiar. Resorte inoxidable regulable, y estribo.
            Color: Único        
            Medidas: 18 cm
            Material: Acero inoxidable</p>
        <h5 class="precio">$3,299.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img  class="img-destacados" src="../statics/img/Hogar/botella_sport.jpg" alt="botella-sport">
        <h3 class="producto">BOTELLA SPORT 500 ML</h3>
        <p class="descripcion"> Fabricada en Acero inoxidable Doble Capa de Altísima calidad</p>
        <h5 class="precio">$16,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img  class="img-destacados" src="../statics/img/Hogar/calculadora.jpg" alt="calculadora">
        <h3 class="producto">CALCULADORA</h3>
        <p class="descripcion">Calculadoara con Visor LCD de 12 dígitos grandes, cálculo rápido de Costo/ Margen/ Precio de Venta, selector de Redondeo y de Punto decimal.</p>
        <h5 class="precio">$6,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img class="img-destacados"  src="../statics/img/Hogar/CASITA-228x228.png" alt="CASITA">
        <h3 class="producto">LÁMPARA CASITA</h3>
        <p class="descripcion">Casita de lectura que sirve como indicador de página de libro. Incluye portalámparas  estándar ..</p>
        <h5 class="precio">$20,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img  class="img-destacados" src="../statics/img/Hogar/delantal.jpeg" alt="delantal">
        <h3 class="producto">DELANTAL MANOPLA Y AGARRADERA</h3>
        <p class="descripcion">KIT DELANTAL MANOPLA Y AGARRADERA ESTAMPADOS
            MODELOS ESTAMPADOS: SIN ELECCIÓN DE COLOR           
          </p>
        <h5 class="precio">$14,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
      <div class="destacados-items">
        <img  class="img-destacados" src="../statics/img/Hogar/guantes.jpeg" alt="guantes">
        <h3 class="producto">GUANTES DE SILICONA</h3>
        <p class="descripcion">Úsalos para lavar los platos de forma sencilla y practica, el baño, el auto, los pisos y bañar a tu perro!.</p>
        <h5 class="precio">$9,699.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar</button>
      </div>
    </section> 
      
    </main>

    <footer></footer>
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="../statics/script/header-footer.js"></script>
</body>
</html>