<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../statics/css/index.css">
  <link rel="stylesheet" href="../statics/css/header_footer.css">
  <title>Indumentaria</title>
</head>

<body>
  <header></header>

  <main>

    <section class="contenedor-hogar" id="contenedorProductos">
      <!-- COMPLETADO CON JS -->
    </section>


    <!-- <section class="contenedor-destacados">

      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Indumentaria/CAMISETA TERMICA HOMBRE BLANCO 2a-228x228.png"
          alt="CAMISETA TERMICA HOMBRE BLANCO">
        <h3 class="producto">CAMISETA TERMICA HOMBRE BLANCO</h3>
        <p class="descripcion">Camiseta Térmica de Hombre con Cuello Redondo.
          Frizada por dentro, super abrigada!
          Poliester con elastano.
          Mantiene la temperatura corporal, ideal para cualquier tipo de entrenamiento o para todos los días, debajo de
          tu ropa habitual. </p>
        <h5 class="precio">$12,799.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>

      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Indumentaria/CAMISETA TERMICA INFANTIL AZUL-228x228.png"
          alt="CAMISETA TERMICA INFANTIL AZUL">
        <h3 class="producto">CAMISETA TERMICA INFANTIL AZUL</h3>
        <p class="descripcion">Camiseta Térmica Infantil con Cuello Redondo.
          Frizada por dentro, super abrigada!
          Poliester con elastano.
          Mantiene la temperatura corporal, ideal para cualquier tipo de entrenamiento o para todos los días, debajo de
          tu ropa habitual.</p>
        <h5 class="precio">$ 10,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>

      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Indumentaria/campera-hombre2en1.jpg"
          alt="CAMPERA UNISEX 2 EN 1">
        <h3 class="producto">CAMPERA UNISEX 2 EN 1</h3>
        <p class="descripcion">Innovadora campera 2 en 1, diseñada para adaptarse a todas tus necesidades de estilo y
          funcionalidad! Pedir un talle más del habitual, la campera inflable tiene aprox 5 cm menos y es más entallada.
        </p>
        <h5 class="precio">$ 74,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>

      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Indumentaria/campera-puffer-mujer.jpg"
          alt="CAMPERA PUFFER MUJER">
        <h3 class="producto">CAMPERA PUFFER MUJER</h3>
        <p class="descripcion"> Super abrigadas!! Camperas de nylon puffer (tela acolchada). Recomendamos pedir dos
          talles más grandes al habitual.Capucha con peluche. </p>
        <h5 class="precio">$67,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>

      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Indumentaria/MAV-106_2--228x228.jpg"
          alt="PIJAMA INFANTIL MESSI">
        <h3 class="producto">PIJAMA INFANTIL MESSI</h3>
        <p class="descripcion"> Pijamas para niños manga larga. Super suaves!. Talles amplios. Excelente calidad, diseño
          y terminación. Con los personajes preferidos de los peques! 100% algodón. </p>
        <h5 class="precio"> $ 15,999</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>

      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Indumentaria/MAV-P015-200x200.png"
          alt="PANTUMEDIA CORDERITO HOMBRE">
        <h3 class="producto">PANTUMEDIA CORDERITO HOMBRE</h3>
        <p class="descripcion"> Andar descalzos en invierno nunca fue tan cómodo. Las cómodas Pantumedias térmicas
          cuentan con corderito interior, logrando mantener los pies muy abrigados y cómodos en nuestros hogares, sin
          necesidad de usar pantuflas o cualquier otro calzado. </p>
        <h5 class="precio">$4,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div>

      <div class="destacados-items">
        <img class="img-destacados" src="../statics/img/Indumentaria/MAV-P017 4-228x228.png"
          alt="PANTUMEDIA CORDERITO INFANTIL">
        <h3 class="producto">PANTUMEDIA CORDERITO INFANTIL</h3>
        <p class="descripcion"> Andar descalzos en invierno nunca fue tan cómodo. Las cómodas Pantumedias térmicas
          cuentan con corderito interior, logrando mantener los pies muy abrigados y cómodos en nuestros hogares, sin
          necesidad de usar pantuflas o cualquier otro calzado. </p>
        <h5 class="precio">$4,999.00</h5>
        <button id="boton-carrito" class="fa-solid fa-basket-shopping">Agregar </button>
      </div> -->

    </section>
  </main>

  <footer></footer>
  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="../statics/script/header-footer.js"></script>
  <script src="../statics/script/indumentaria.js"></script>
</body>

</html>