<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/statics/css/header_footer.css">
  <link rel="stylesheet" href="/statics/css/login.css">
  <link rel="shortcut icon" href="../statics/img/favicon.png" type="image/x-icon">
  <title>Login</title>
</head>

<body>
  <!-- Encabezados -->

  <header></header>
  <main>
    <h1 class="titulo">Ingreso empleados</h1>
<section>
    <div class=""></div>
        <form id="loginform">
            <div class="login">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario" required autofocus>
            </div>

            <div class="login">
                <label for="contraseña">Contraseña:</label>
                <input type="password" name="contraseña" id="contraseña" required>
            </div>

            <div class="login">
                <button class="ingresar" type="submit">Ingresar</button>
            </div>

        </form>
    </div>
</section>



  </main>



  <footer></footer>

  <!-- Script para el uso de iconos-->
  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="../statics/script/login.js"></script>
  <script src="../statics/script/index.js"></script>
  
</body>

</html>