<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./statics/img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../statics/css/suscribirse.css" />
  <link rel="stylesheet" href="../statics/css/header_footer.css">
  <title>ComprasOnLine.Com</title>
</head>
<header></header>

<body>
  <section id="formulario">
    <div id="logo-container">
      <!-- espacio para logo -->
      <img id="logo" src="../statics/img/logo_formulario.png" alt="formulario_logo">

    </div>
    <div id="container">
      <form id="form" action="https://formspree.io/f/mgeglwnj" method="POST" autocomplete="off">

        <h1 class="form-item">Formulario de aceptación</h1>

        <fieldset id="datos-personales" autocomplete="off">
          <legend>Datos Personales</legend>
          <div>
            <label class="datos-personales" for="nombre">Nombre:</label>
            <input class="personales" type="text" name="nombre" id="nombre" required
              placeholder="  Ingrese su nombre aquí" />
          </div>
          <div id="resultadoNombre"></div>
          <div>

            <label class="datos-personales" for="apellido">Apellido:</label>
            <input class="personales" type="text" name="nombre" id="apellido" required
              placeholder="  Ingrese su apellido aquí..." />
          </div>
          <div id="resultadoApellido"></div>
          <div>
            <label class="datos-personales" for="direccion">Dirección:</label>
            <input class="personales" type="text" name="nombre" id="direccion" required
              placeholder="  Ingrese su dirección aquí..." />
          </div>
          <div>
            <label class="datos-personales" for="ciudad">Ciudad:</label>
            <input class="personales" type="text" name="ciudad" id="ciudad" required
              placeholder="  Ingrese su  ciudad aquí..." />
          </div>
          <div>
            <label class="datos-personales" for="cp">Código postal:</label>
            <input class="personales" type="number" name="cp" id="cp" required
              placeholder="  Ingrese su Código Postal aquí..." />
          </div>
          <div>
            <label class="datos-personales" for="telefono">Télefono:</label>
            <input class="personales" type="tel" name="telefono" id="telefono" required
              placeholder="  Ingrese su teléfono aquí..." />
          </div>
          <div>
            <label class="datos-personales" for="nacimiento">Fecha de Nacimiento</label>
            <input class="personales" type="date" name="nombre" id="nacimiento" required />
          </div>

          <div id="genero">
            <p> Género </p>
            <input type="radio" name="genero" id="m" required />
            <label for="m">Masculino</label>
            <input type="radio" name="genero" id="f" required />
            <label for="f">Femenino</label>
            <input type="radio" name="genero" id="o" required />
            <label for="o">Otro</label>
          </div>

        </fieldset>
        <div id="comentarios">
          <label for="comentarios">Comentarios</label>
          <br>
          <textarea name="comentario" id="comentario" cols="75" rows="10" maxlength="220"></textarea>
        </div>
        <input class="btn-enviar" type="submit" value="Enviar">
        <input class="btn" type="reset" value="Borrar">
      </form>
    </div>
    <p id="parr">Al presionar el botón enviar, acepta los términos y condiciones de la empresa.</p>

    <footer></footer>


    <!-- Script para el uso de iconos-->
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="../statics/script/header-footer.js"></script>
    <script src="../statics/script/suscribirse.js"></script>

</body>

</html>