<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./statics/style.css"> -->
    <link rel="stylesheet" href="../statics/css/suscribirse.css">
    <link rel="stylesheet" href="../statics/css/header_footer.css">
    <title>Registro</title>
  </head>
  <body>
    <header>

        <div class="container-hero">
          <div class="container hero">
    
            <div class="customer-support">
              <i class="fa-solid fa-headset"></i> <!--Icono auriculares-->
              <div class="content-customer-support">
                <span class="text">Soporte al cliente</span>
                <span class="number">123-456-7890</span>
              </div>
            </div>
    
            <div class="container-logo">  
              <img src="../statics/img/traced-logo_fondo_bco (1).ico" alt="" id="logo-img">
              <h1 class="logo"><a href="/">ComprasOnline.com</a></h1>
            </div>
    
            <div class="container-user">
              <i class="fa-solid fa-user"></i> <!--Icono usuario-->
              <i class="fa-solid fa-basket-shopping"></i> <!--Icono carrito de compras-->
              <div class="content-shopping-cart">
                <span class="text">Carrito</span>
                <span class="number">(0)</span>
              </div>
            </div>
    
          </div>
        </div>
    
        <div class="container-navbar">
          <nav class="navbar container">
            <i class="fa-solid fa-bars"></i> <!--Icono menú hamburguesa-->
            <ul class="menu">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Acerca de</a></li>
              <li><a href="templates/suscribirse.html">Registro</a></li>
              <li><a href="#">Más</a></li>
            </ul>
    
            <form class="search-form">
              <input type="search" placeholder="Buscar..." />
              <button class="btn-search">
                <i class="fa-solid fa-magnifying-glass"></i> <!--Icono busqueda-->
              </button>
            </form>
          </nav>
        </div>
    
      </header>

    <section id="formulario">
    <div >
        <!-- espacio para logo -->
        <img id="logo" src="../statics/img/logo_formulario.png" alt="formulario_logo">

    </div>
    <h2 id="form-title">Formulario de aceptación</h2>

    <form id="form" action="https://formspree.io/f/mgeglwnj"
    method="POST" autocomplete="off">
      <fieldset id="datos-personales">
        <legend>Datos Personales</legend>
        <div>
            <label for="nombre">Nombre:</label>
            <input class="personales" type="text" name="nombre" id="nombre" required placeholder="  Ingrese su nombre aquí"/>
    
            <label for="apellido">Apellido:</label>
            <input class="personales" type="text" name="nombre" id="apellido" required placeholder="  Ingrese su apellido aquí..."/>
        </div>
    </br>
        <div>
            <label for="direccion">Dirección:</label>
            <input class="personales" type="text" name="nombre" id="direccion" required placeholder="  Ingrese su dirección aquí..."/>
    
            <label for="ciudad">Ciudad:</label>
            <input class="personales" type="text" name="ciudad" id="ciudad" required placeholder="  Ingrese su  ciudad aquí..."/>
        </div>
    </br>
        <div>
            <label for="cp">Código postal:</label>
            <input class="personales" type="number" name="cp" id="cp" required placeholder="  Ingrese su Código Postal aquí..."/>
    
            <label for="telefono">Télefono:</label>
            <input class="personales" type="tel" name="telefono" id="telefono" required placeholder="  Ingrese su teléfono aquí..."/>
        </div>
    </br>

    <div>
        <label for="nacimiento">Fecha de Nacimiento</label>
        <input class="personales" type="date" name="nombre" id="nacimiento" required/>
    </div>

    <div>
        <p> Género </p>
        <input type="radio" name="genero" id="m" required/>
        <label for="m">Masculino</label>
        <input type="radio" name="genero" id="f" required/>
        <label for="f">Femenino</label>
        <input type="radio" name="genero" id="o" required/>
        <label for="o">Otro</label>     
    </div>

</fieldset>
<p id="conocimiento">Conocimientos previos:
     <input type="checkbox" name="conocimientos" value="Html"/>Html
    <input type="checkbox" name="conocimientos" value="CSS"/>CSS
    <input type="checkbox" name="conocimientos" value="Boostrap"/>Boostrap
    <input type="checkbox" name="conocimientos" value="Javascript"/>Javascript <br>
    <input type="checkbox" name="conocimientos" value="Base de Datos"/>Base de Datos
    <input type="checkbox" name="conocimientos" value="Python"/>Python
    <input type="checkbox" name="conocimientos" id="Django">Django
</p>

<label for="estudios" id="estudios">Estudios: </label>
    <select name="estudios" id="estudios">
        <option class="estudios" value="primaria">Primaria</option>
        <option class="estudios" value="secundaria">Secundaria</option>
        <option class="estudios" value="terciario">Terciario</option>
        <option class="estudios" value="universitario">Universitario</option>
    </select>

    <div id="comentarios">
        <label for="comentarios">Comentarios</label>
        <br>
        <textarea name="comentario" id="comentario" cols="30" rows="10" maxlength="220"></textarea>
    </div>
    <input class="btn" type="submit" value="Enviar">
    <input class="btn" type="reset" value="Borrar">

    <p id="parr">Al presionar el botón enviar, acepta los términos y condiciones de la empresa.</p>

    </form>
</section>

<footer class="footer">
    <div class="container container-footer">
      <div class="menu-footer">
        <div class="contact-info">
          <p class="title-footer">Información de Contacto</p>
          <ul>
            <li>
              Dirección: 81 Pennington Lane Vernon Rockville, CT
              06066
            </li>
            <li>Teléfono: 123-456-7890</li>
            <li>Fax: 55555300</li>
            <li>EmaiL: comprasOnline@support.com</li>
          </ul>
          <div class="social-icons">
            <span class="facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </span>
            <span class="twitter">
              <i class="fa-brands fa-twitter"></i>
            </span>
            <span class="youtube">
              <i class="fa-brands fa-youtube"></i>
            </span>
            <span class="pinterest">
              <i class="fa-brands fa-pinterest-p"></i>
            </span>
            <span class="instagram">
              <i class="fa-brands fa-instagram"></i>
            </span>
          </div>
        </div>

        <div class="information">
          <p class="title-footer">Información</p>
          <ul>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li><a href="#">Información Envíos</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Contactános</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Mi cuenta</p>

          <ul>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Historial de ordenes</a></li>
            <li><a href="#">Lista de deseos</a></li>
            <li><a href="#">Boletín</a></li>
            <li><a href="#">Reembolsos</a></li>
          </ul>
        </div>
      </div>
      
      <div class="copyright">
        <p>
          ComprasOnline.com. Todos los derechos reservados &copy; 2024
        </p>

        <img src="../statics/img/payment.png" alt="Pagos" id="pagos">
      </div>
    </div>
  </footer>

  <!-- Script para el uso de iconos-->
  <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
  </body>
</html>
